<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Add-ons2.0.2 - BEAST2</title>
<!-- bodytext -->
<p>
	SNAPP: SNP and AFLP Phylogenies 
	<a href="http://snap-mcmc.googlecode.com/files/SNAPP.addon.v1.1.2.zip" class="external free" rel="nofollow">
	http://snap-mcmc.googlecode.com/files/SNAPP.addon.v1.1.2.zip
	</a>
</p>
<p>
	BDSKY: birth death skyline -- handles serially sampled tips 
	<a href="http://bdssm-beast2.googlecode.com/files/BDSKY.addon.v1.0.3.zip" class="external free" rel="nofollow">
	http://bdssm-beast2.googlecode.com/files/BDSKY.addon.v1.0.3.zip
	</a>
</p>
<p>
	BEASTii: BEAST utilities, such as multi threaded treeliklihood 
	<a href="http://beastii.googlecode.com/files/BEASTii.addon.v1.0.3.zip" class="external free" rel="nofollow">
	http://beastii.googlecode.com/files/BEASTii.addon.v1.0.3.zip
	</a>
</p>
<p>
	BEAST_CLASSIC: BEAST classes ported from BEAST 1 in wrappers 
	<a href="http://beast-classic.googlecode.com/files/BEAST_CLASSIC.addon.v1.0.2.zip" class="external free" rel="nofollow">
	http://beast-classic.googlecode.com/files/BEAST_CLASSIC.addon.v1.0.2.zip
	</a>
</p>
<p>
	RB: Reversible-jump Based substitution model 
	<a href="http://rb-beast.googlecode.com/files/RBS.addon.v1.0.3.zip" class="external free" rel="nofollow">
	http://rb-beast.googlecode.com/files/RBS.addon.v1.0.3.zip
	</a>
</p>
<p>
	SUBSTBMA: Substitution Bayesian Model Averaging 
	<a href="http://subst-bma.googlecode.com/files/SubstBMA.addon.v1.0.1.zip" class="external free" rel="nofollow">
	http://subst-bma.googlecode.com/files/SubstBMA.addon.v1.0.1.zip
	</a>
</p>
</body>
</html>
